$color-background: #333;
$color-main: #258fb8;
$color-main-hover: #00b9ff;
$color-gray00: #333;
$color-gray01: #666;
$color-gray02: #999;
$color-gray03: #ccc;
$color-gray04: #ddd;
//$color-gray04: #111;
$color-gray05: #fff;
$color-gray06: #bbb;

$color-split1:#111;
$color-split2:#444;

$color-black01: #202020;
$color-black02:#222; //table header;
$color-black03:#333; //background;scrollbar;
$color-black04:#444; //table row 2;

$border-shdow:rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
$out-box-shadow: rgba(0, 0, 0, 0.65) 0 1px 2px, rgba(226, 226, 226, 0.5) 0px 1px 1px 0px inset ;
$inside-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0,black 0 1px 7px 0px inset;